* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  /* border: 0.5px solid black; */
}

.bg1 {
  background-image: url("../Images/dog.jpg");
  background-size: cover;
  background-position: right;
  height: 100vh;
  position: relative;
  filter: blur(5px);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
}

.logo img {
  width: 50%;
}

.p-25-0 {
  padding: 25px 0;
}

.p-28-0-24 {
  padding: 28px 0 24px;
}

.mr-65px {
  margin: 0 65px 0 0;
}

.primary-btn {
  font-size: 14px;
  padding: 16px 36px 14px;
  color: #ffffff;
  font-weight: 700;
  background: #5768AD;
  border-radius: 2px;
  letter-spacing: 2px;
  text-decoration: none !important;
}

.primary-btn:hover {
  color: white;
}

.header-top {
  font-size: 12px;
  color: #263246;
}

.header-top li::after {
  content: "";
  background-color: #5768AD;
  top: 8px;
  right: -5px;
  width: 2px;
  height: 2px;
  position: absolute;
}

.header-top li {
  position: relative;
}

.header-top li:last-child::after {
  display: none;
}

.header-menu ul li {
  margin: 0 55px 0 0 !important;
  position: relative;
}

.header-menu ul li a {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.header-menu ul {
  margin: 10px 0 0 0;
}

.active1::after {
  content: "";
  background-color: white;
  left: 0;
  height: 2px;
  top: 25px;
  width: 100%;
  position: absolute;
}

.header-menu a:hover::after {
  content: "";
  background-color: white;
  left: 0;
  height: 2px;
  top: 25px;
  width: 100%;
  position: absolute;
}

.text-right a {
  margin-right: 20px;
  font-size: 14px;
}

.header-nav {
  padding-top: 15px;
}

.header-menu a, svg {
  color: white;
}

.hero {
  margin-top: -50px;
}

.sea {
  background-image: url(https://colorlib.com/preview/theme/zogin/img/hero/hero-1.jpg);
  background-size: cover;
  background-position: center;
  height: 873px;
  width: 100%;
}

.joga {
  background-image: url(https://colorlib.com/preview/theme/zogin/img/breadcrumb.jpg);
  background-size: cover;
  height: 467px;
  width: 100%;
}

.carousel-first {
  height: 100vh;
}

.pt-100 {
  padding: 100px 0 0;
}

.h-800 {
  height: 800px;
}

.carousel-text {
  margin-left: 150px;
  color: white;
}

.carousel-text span {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.carousel-text h2 {
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 50px;
  font-weight: 600;
}

.about-1 {
  height: 620px;
  width: 50%;
  margin: 0 20px 20px 0;
}

.about-2 {
  height: 620px;
}

.mb-20px {
  margin-bottom: 20px;
}

.section-title {
  text-align: left;
  margin-bottom: 24px;
}

.section-title h2 {
  font-size: 44px;
  color: #263246;
  margin-top: 34px;
  margin-bottom: 5px;
}

.welcome span {
  font-size: 16px;
  color: #404D80;
  margin: 0 0 12px 0 !important;
}

.welcome p {
  margin: 10px 0 15px 0;
}

.para-2 {
  margin-bottom: 50px !important;
}

.services {
  padding-top: 80px;
  padding-bottom: 70px;
}

.services h2 {
  font-size: 44px;
  color: #263246;
  margin-top: 34px;
  margin-bottom: 5px;
  font-weight: 400;
}

.services-item {
  text-align: center;
  padding: 40px 16px 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
  margin-bottom: 30px;
  background-color: #ffffff;
}

.services-item h5 {
  font-size: 20px;
  color: #263246;
  margin-top: 35px;
  margin-bottom: 12px;
  font-weight: 450;
}

.chooseus {
  background-color: #f5f6fa;
  padding-bottom: 20px;
  padding-top: 100px;
}

.chooseus-text {
  margin-bottom: 70px;
}

.chooseus-item {
  width: 50%;
  margin-bottom: 80px;
}

.chooseitem-img {
  margin-right: 30px;
}

.chooseus-text h2 {
  font-size: 44px;
  color: #263246;
  margin-bottom: 6px;
  font-weight: 400;
}

.choose-counter {
  font-size: 48px;
  color: #263246;
  line-height: 45px;
  margin-bottom: 5px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  color: #6E7580;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

.upcoming-classes {
  padding-bottom: 70px;
  padding-top: 80px;
}

.upcoming-classes h2 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 44px;
  color: #263246;
  font-weight: 400;
}

.classes-item-img {
  height: 241px;
  position: relative;
}

.claases-item-img span {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  padding: 7px 16px 4px;
  background-color: #5768AD;
  position: absolute;
  left: 15px;
  top: 10px;
}

.classes-item-text {
  padding: 24px 0 28px 30px;
}

.classes-item {
  box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
  margin-bottom: 30px;
  background: #ffffff;
}

.classes-item-text h4 {
  margin-bottom: 50px;
  font-weight: 400;
}

.classes-item-text h4 a {
  color: #001943;
  line-height: 36px;
}

.classes-item-text h6 {
  color: #001943;
  margin-bottom: 35px;
}

.classes-item-text h6 span {
  color: #9B9EA3;
  font-size: 14px;
}

.classes-item-text .class-btn {
  font-size: 14px;
  font-weight: 600;
  color: #5768AD;
  padding: 10px 20px;
  border: 1px solid rgba(155, 158, 163, 0.2);
  border-radius: 5%;
}

.classes-item-text .class-btn:hover {
  background-color: #5768AD;
  color: #ffffff;
}
